<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Agregar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Jugador</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <form [formGroup]="playerForm" (ngSubmit)="addPlayer()">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" #playerName formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Apellido</ion-label>
              <ion-input type="text" formControlName="surname"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Equipo</ion-label>
              <ion-select formControlName="team" [value]="selectedTeam">
                <ion-select-option *ngFor="let t of teams" value="{{t.key}}">{{t.name | uppercase}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button class="btn submit" expand="block" type="submit" [disabled]="playerForm.invalid" block>Agregar</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>Equipo</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <form [formGroup]="teamForm" (ngSubmit)="addTeam()">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" #teamName formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">División</ion-label>
              <ion-select formControlName="division" [value]="selectedDivision">
                <ion-select-option *ngFor="let d of divisions" value="{{d.key}}">{{d.name | uppercase}}</ion-select-option>
              </ion-select>
            </ion-item>
            <ion-button class="btn submit" expand="block" type="submit" [disabled]="teamForm.invalid" block>Agregar</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <ion-card-header>
          <ion-card-title>División</ion-card-title>
        </ion-card-header>
  
        <ion-card-content>
          <form [formGroup]="divisionForm" (ngSubmit)="addDivision()">
            <ion-item>
              <ion-label position="stacked">Nombre</ion-label>
              <ion-input type="text" #divisionName formControlName="name"></ion-input>
            </ion-item>
            <ion-button class="btn submit" expand="block" type="submit" [disabled]="divisionForm.invalid" block>Agregar</ion-button>
          </form>
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
