<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Programación de fechas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-card>
    <ion-card-header>
      <ion-card-title>Equipos</ion-card-title>
      <ion-card-subtitle>
        <ion-row>
          <ion-col>Nombre</ion-col>
          <ion-col text-center>División</ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-row *ngFor="let t of teams">
        <ion-col>{{t.name}}</ion-col>
        <ion-col text-center>{{t.division}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Programación</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let c of calendar; let i = index">
    <ion-card-header>
      <ion-card-title>Fecha {{i+1}}</ion-card-title>
    </ion-card-header>
    
    <ion-card-content>
      <ion-row *ngFor="let g of c">
        <ion-col>{{g[0].name}}</ion-col>
        <ion-col text-center>vs</ion-col>
        <ion-col text-right>{{g[1].name}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
