.table-container {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid green;
  padding: 5px;
}
.table {
  width: 100%;
  text-transform: uppercase;
  .vs {
    display: flex;
    justify-content: space-between;
  }
}
.headers {
  font-weight: 600;
  height: 2rem;
}