// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';

@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

body {
  font-size: 14px !important;
}
.swiper-pagination-bullet {
  background: #262626;
  padding: 3px;
}
.swiper-pagination-bullet-active {
  background: var(--bullet-background-active);
  padding: 5px;
}