<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h4>Posiciones</h4>
  <div class="table-container">
    <table>
      <tr class="headers"><td>Equipo</td><td>PTS</td><td>J</td><td>G</td><td>P</td><td>E</td></tr>
      <tr *ngFor="let p of positions">
        <td>{{p.name}}</td>
        <td>{{p.points || '0'}}</td>
        <td>{{p.games || '0'}}</td>
        <td>{{p.won || '0'}}</td>
        <td>{{p.lost || '0'}}</td>
        <td>{{p.drawn || '0'}}</td>
      </tr>
    </table>
  </div>

  <h4>Goleadores</h4>
  <div class="table-container">
    <table>
      <tr class="headers">
        <td>Nombre</td>
        <td>Equipo</td>
        <td><ion-icon name="football"></ion-icon></td>
        <td><ion-icon name="albums"></ion-icon></td></tr>
      <tr *ngFor="let p of players">
        <td>{{p.name}} {{p.surname}}</td>
        <td>{{p.team}}</td>
        <td>{{p.score}}</td>
        <td>{{p.cards}}</td>
      </tr>
    </table>
  </div>

  <h4>Equipos</h4>
  <div class="table-container">
    <table>
      <tr class="headers">
        <td>Nombre</td>
        <td text-center>División</td></tr>
      <tr *ngFor="let t of teams">
        <td>{{t.name}}</td>
        <td text-center>{{t.division}}</td>
      </tr>
    </table>
  </div>
</ion-content>
