<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Posiciones</ion-card-title>
      <ion-card-subtitle>
        <ion-row>
          <ion-col size="5">Equipo</ion-col>
          <ion-col>PTS</ion-col>
          <ion-col>J</ion-col>
          <ion-col>G</ion-col>
          <ion-col>P</ion-col>
          <ion-col>E</ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-row *ngFor="let p of positions">
        <ion-col size="5">{{p.name}}</ion-col>
        <ion-col>{{p.points || '0'}}</ion-col>
        <ion-col>{{p.games || '0'}}</ion-col>
        <ion-col>{{p.won || '0'}}</ion-col>
        <ion-col>{{p.lost || '0'}}</ion-col>
        <ion-col>{{p.drawn || '0'}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Goleadores</ion-card-title>
      <ion-card-subtitle>
        <ion-row>
          <ion-col size="5">Nombre</ion-col>
          <ion-col size="5">Equipo</ion-col>
          <ion-col><ion-icon name="football"></ion-icon></ion-col>
          <ion-col><ion-icon name="albums"></ion-icon></ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-row *ngFor="let k of killers">
        <ion-col size="5">{{k.name}} {{k.surname}}</ion-col>
        <ion-col size="5">{{k.team}}</ion-col>
        <ion-col>{{k.score}}</ion-col>
        <ion-col>{{k.cards}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Equipos</ion-card-title>
      <ion-card-subtitle>
        <ion-row>
          <ion-col>Nombre</ion-col>
          <ion-col text-center>División</ion-col>
        </ion-row>
      </ion-card-subtitle>
    </ion-card-header>
    
    <ion-card-content>
      <ion-row *ngFor="let t of teams">
        <ion-col>{{t.name}}</ion-col>
        <ion-col text-center>{{t.division}}</ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
